* {
    box-sizing: border-box;
}

* ::before,
*::after {
    box-sizing: border-box;
}

.card {
    padding: 5px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    width: 405px;
    height: 350px;
    border: 1px solid #5D6544;
    border-radius: 10px;
}



.table {
    margin: auto;
    width: 90%;
    margin-top: 20px;
    text-align: center;
}